#ext-jhe-prizedraw-mod1-index-php .typo3-bigDoc #tx_jheprizedraw_form div p {
	clear: both;
	margin: 0 0 5px 0;
}

#ext-jhe-prizedraw-mod1-index-php .typo3-bigDoc #tx_jheprizedraw_form div p label {
	display: block;
	float: left;
	width: 300px;
	text-align: right;
	margin: 0 3px 0 0;
}

#ext-jhe-prizedraw-mod1-index-php .typo3-bigDoc #tx_jheprizedraw_form div p .header {
	width: 100%;
	margin: 5px 0;
	text-align: left;
}

#ext-jhe-prizedraw-mod1-index-php .typo3-bigDoc #tx_jheprizedraw_form div p #bt_execute, #bt_save {
	margin: 5px 0 0 303px;
}

#ext-jhe-prizedraw-mod1-index-php #no_of_records, 
#ext-jhe-prizedraw-mod1-index-php #record_type, 
#ext-jhe-prizedraw-mod1-index-php #period_begin, 
#ext-jhe-prizedraw-mod1-index-php #period_end {
	width: 140px;
}

#ext-jhe-prizedraw-mod1-index-php #no_of_records_error, 
#ext-jhe-prizedraw-mod1-index-php #record_type_error, 
#ext-jhe-prizedraw-mod1-index-php #period_begin_error, 
#ext-jhe-prizedraw-mod1-index-php #period_end_error {
	color: red;
	margin: 0 0 0 303px;
}

#ext-jhe-prizedraw-mod1-index-php th {
	border-bottom: 1px solid #333;
	text-align: left;
}

#ext-jhe-prizedraw-mod1-index-php th.centered {
	text-align: center;
}


#ext-jhe-prizedraw-mod1-index-php #ajaxloader {
	float: right;
	margin: 7px 295px 0 0;
}

#ext-jhe-prizedraw-mod1-index-php .hidden {
	display: none;
}